# NOTE: this file gets checked in. DO NOT PUT SECRETS HERE!
source /home/node/.secrets/secrets.sh

# Google secrets: get from here: https://console.cloud.google.com/auth/clients
export TF_VAR_google_client_id="$RB_LOCAL_GOOGLE_CLIENT_ID"
export TF_VAR_google_client_secret="$RB_LOCAL_GOOGLE_CLIENT_SECRET"
export NUXT_OIDC_SESSION_SECRET="ujhXFAIEiWBLw_B_9Pimzeyax12dibipIwC2ajTUyIIF1ii-"
export NUXT_OIDC_TOKEN_KEY="data:;base64,L7XqmVgFwU5HzkFhX9x3EDCGbyUqU633+IC3j3Ns8go="
export NUXT_OIDC_AUTH_SESSION_SECRET="07Rkr5CB8knNsKUVDU5sqSa0j0XUXWc2yJg88K1o1ODpNMPi"
