# NOTE: this file gets checked in. DO NOT PUT SECRETS HERE!
source /home/node/.secrets/secrets.sh

# Google secrets: get from here: https://console.cloud.google.com/auth/clients
export TF_VAR_google_client_id="$AEGIR_LOCAL_GOOGLE_CLIENT_ID"
export TF_VAR_google_client_secret="$AEGIR_LOCAL_GOOGLE_CLIENT_SECRET"
# Format: URL-safe string, min 48 chars (charset: a-zA-Z0-9, -, _, ~). Generate with: openssl rand -base64 36 | tr '+/' '-_'
export NUXT_OIDC_SESSION_SECRET="K9398aOu1nOD4bpfOm_l6gLB8Mw2jagXqqcj0HFU9ObclIid"
# Format: data URI wrapping a base64-encoded 32-byte AES-256 key. Generate with: echo "data:;base64,$(openssl rand -base64 32)"
export NUXT_OIDC_TOKEN_KEY="data:;base64,GG66yb45NnP1OZVWvIvAhkNVJtIvUuIF38CDw0l6t8w="
# Format: URL-safe string, ~48 chars (charset: a-zA-Z0-9, -, _, ~). Generate with: openssl rand -base64 36 | tr '+/' '-_'
export NUXT_OIDC_AUTH_SESSION_SECRET="IcCxTg_eo5RS9p9jZCCRAQT3vjV7Y_TmVTIRj4XctaDAUQ-U"
